@mixin trickyRespon {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    // @media screen and (max-width: 768px) {
    //     @content;
    // }
    @media screen and (max-width: 1100px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

$head_color: darkBlue;


.form-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        background-color: rgb(1, 65, 87);
        background-image: url('../src/images/cutething.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
        filter: blur(8px);
        -webkit-filter: blur(8px);
    
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: -1;  
    }

    .form-wrapper {        
        background: rgba( 255, 255, 255, 0.3 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .logo {
            width: 77px;
            object-fit: cover;
        }

        .title {
            color: $head_color;
            font-size: 1.2em;
            font-weight: 300;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                background: rgba( 255, 255, 255, 0.3 );
                padding: 15px;
                width: 250px;
                border: none;
                border-bottom: 1px solid $head_color;

                &::placeholder {
                    color: $head_color;
                }
            }

            label {
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: 10px;
                color: rgba(77, 95, 95, 0.8);
                font-size: 12px;

                img {
                    width: 32px;
                }
            }

            button {
                background: rgba(255, 255, 255, 0.747);
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                border-radius: 3px 10px 3px 10px;
                color: $head_color;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
            }

            span {
                color: #111;
                font-weight: bold;
            }
        }

        p {
            color: #ffffff;
            font-size: 12px;
            margin-top: 10px;

            a {
                color: $head_color;
                font-weight: bold;
            }
        }
    }
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        background-color: rgb(1, 65, 87);
        background-image: url('../src/images/cutething.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: -1;  
    }

    .container {
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        @include tablet {
            width: 90%;
        }

        .sidebar {
            flex: 1;
            background: rgba( 255, 255, 255, 0.3 );
            border-right: 1px solid rgba( 255, 255, 255, 0.18 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

            position: relative;
            overflow: auto;
            overflow-x: hidden;

            .navbar {
                display: flex;
                align-items: center;
                background: rgba(255, 255, 255, 0.582);
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: $head_color;

                .logo {
                    width: 75%;
                    object-fit: cover;
                    margin-left: -15px;

                    @include tablet {
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    img {
                        background-color: #ecfaf9cc;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    h2 {
                        font-size: 1.2em;
                        font-weight: 300;
                    }

                    button {
                        cursor: pointer;
                        font-size: 1.2em;
                        color: $head_color;
                        background: rgba( 255, 255, 255, 0.747 );
                        border: 1px solid rgba( 255, 255, 255, 0.18 );
                        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                        border-radius: 3px 10px 3px 10px;
                        padding: 7px;

                        @include trickyRespon {
                            bottom: 10px;
                            background: rgba( 255, 255, 255, 0.747 );
                            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                            border: 1px solid rgba( 255, 255, 255, 0.18 );
                            border-radius: 3px 10px 3px 10px;
                            color: $head_color;
                            font-weight: 300;
                        }

                        @include tablet {
                            bottom: 10px;
                            background: rgba( 255, 255, 255, 0.747 );
                            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                            border: 1px solid rgba( 255, 255, 255, 0.18 );
                            border-radius: 3px 10px 3px 10px;
                            color: $head_color;
                            font-weight: 300;
                        }

                        @include mobile {
                            bottom: 27px;
                            position: fixed;
                            background: rgba( 255, 255, 255, 0.747 );
                            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                            border: 1px solid rgba( 255, 255, 255, 0.18 );
                            border-radius: 3px 10px 3px 10px;
                            color: $head_color;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .search {
            border-bottom: 1px solid rgba(255, 255, 255, 0.349);

            .search-form {
                padding: 10px;
                background: rgba( 255, 255, 255, 0.3 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                border: 1px solid rgba(255, 255, 255, 0.349);
                color: $head_color;

                input {
                    background-color: transparent;
                    border: none;
                    color: $head_color;
                    outline: none;

                    &::placeholder {
                        color: $head_color;
                    }
                }
            }
        }

        .user-chat {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #ffffff;
            cursor: pointer;

            &:hover {
                background-color: #011d1bcc;
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .user-chat-info {

                span {
                    font-size: 18px;
                    font-weight: 500;
                }

                p {
                    color: lightgray;
                    font-size: 14px;
                }
            }
        }


        .chater {
            flex: 2;

            .chaterInfo {
                height: 50px;
                background: rgba( 255, 255, 255, 0.528 );
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: $head_color;

                h3 {
                font-weight: 300;
                }
            }

            .chaterIcons {
                display: flex;
                gap: 10px;

                img {
                    height: 25px;
                    cursor: pointer;
                }
            }

            .messages {
                background: rgba( 255, 255, 255, 0.3 );
                padding: 10px;
                height: calc(100% - 160px);
                overflow-y: scroll;

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            margin-top: 10px;
                            background-color: #ffffff;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img {
                            width: 50%;
                            border-radius: 10px;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                margin-top: 10px;
                                color: $head_color;
                                background: rgba( 255, 255, 255, 0.3 );
                                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                                border: 1px solid rgba( 255, 255, 255, 0.18 );
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                    }
                }
            }

            .input {
                background: rgba( 255, 255, 255, 0.528 );
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                height: 50px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            input {
                background: rgba( 255, 255, 255, 0.3 );
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                border-radius: 3px 10px 3px 10px;
                outline: none;
                width: 100%;
                height: 100%;
                color: $head_color;
                font-size: 1em;

                &::placeholder {
                    color: $head_color;
                }
            }

            .send {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    height: 24px;
                    cursor: pointer;
                }

                button {
                    padding: 10px 15px;
                    background: rgba( 255, 255, 255, 0.747 );
                    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                    border: 1px solid rgba( 255, 255, 255, 0.18 );
                    border-radius: 3px 10px 3px 10px;
                    color: $head_color;
                    font-weight: 700;
                }
            }
        }
    }
}